<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>largesize</key>
	<real>99</real>
	<key>last-analytics-stamp</key>
	<array>
		<real>810624759.49989402</real>
	</array>
	<key>loc</key>
	<string>en_US:CA</string>
	<key>magnification</key>
	<true/>
	<key>mineffect</key>
	<string>scale</string>
	<key>mod-count</key>
	<integer>373</integer>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3515772521</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMIAAAAAQEAAEFwcHMuYXBw
				DAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABcAAAD/
				//8PCAAAAAQDAAAZAAAA////DwgAAAAEAwAAlQIAAP//
				/w8MAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQcea
				LzmAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAJBik+cAAAAkAAAAAQEAADZF
				MEEwRkFDLTk4MTAtNEEyMC1CMUVELTNBMDRGQzlCNzAw
				MhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
				AQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAA
				AAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQ
				AACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAABMAQAAAAAA
				AAUgAADMAAAAAAAAABAgAADcAAAAAAAAABEgAAAAAQAA
				AAAAABIgAADwAAAAAAAAABMgAACcAAAAAAAAACAgAAAs
				AQAAAAAAADAgAABYAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.apps.launcher</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Apps.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Apps</string>
				<key>file-mod-date</key>
				<integer>3853113203</integer>
				<key>file-type</key>
				<integer>169</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3853113203</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3515772534</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vawQCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMJAAAAAQEAAE11c2ljLmFw
				cAAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAAEAABB
				yBwTfYAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAkGKT5wAAACQAAAABAQAA
				NkUwQTBGQUMtOTgxMC00QTIwLUIxRUQtM0EwNEZDOUI3
				MDAyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAA
				AAABAAAAAQEAAC8AAAAAAAAAAQUAAJwAAAD+////AQAA
				AAAAAAAMAAAABBAAAEgAAAAAAAAAEBAAAGwAAAAAAAAA
				QBAAAFwAAAAAAAAAAiAAAAwBAAAAAAAABSAAAIwAAAAA
				AAAAECAAAJwAAAAAAAAAESAAAMAAAAAAAAAAEiAAALAA
				AAAAAAAAEyAAAFwAAAAAAAAAICAAAOwAAAAAAAAAMCAA
				ABgBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Music</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Music.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Music</string>
				<key>file-mod-date</key>
				<integer>3870138363</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3870138363</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3515772543</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFQB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxEAAAABAQAAR29vZ2xlIENocm9tZS5hcHAAAAAIAAAA
				AQYAABAAAAAkAAAACAAAAAQDAABw0joCAAAAAAgAAAAE
				AwAA84cGAAAAAAAIAAAAAQYAAFAAAABgAAAACAAAAAAE
				AABBx9AdygAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
				TWFjaW50b3NoIEhECAAAAAQDAAAAkGKT5wAAAAgAAAAA
				BAAAQcggA9EAAAAkAAAAAQEAADZFMEEwRkFDLTk4MTAt
				NEEyMC1CMUVELTNBMDRGQzlCNzAwMhgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABA
				AAAAAAAAAAUQAABwAAAAAAAAABAQAACQAAAAAAAAAEAQ
				AACAAAAAAAAAAAIgAABAAQAAAAAAAAUgAACwAAAAAAAA
				ABAgAADAAAAAAAAAABEgAAD0AAAAAAAAABIgAADUAAAA
				AAAAABMgAADkAAAAAAAAACAgAAAgAQAAAAAAADAgAABM
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>3860182164</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>110741013570128</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3515772526</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vawQCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMKAAAAAQEAAFBob3Rvcy5h
				cHAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAAEAABB
				yBwTfYAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAkGKT5wAAACQAAAABAQAA
				NkUwQTBGQUMtOTgxMC00QTIwLUIxRUQtM0EwNEZDOUI3
				MDAyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAA
				AAABAAAAAQEAAC8AAAAAAAAAAQUAAJwAAAD+////AQAA
				AAAAAAAMAAAABBAAAEgAAAAAAAAAEBAAAGwAAAAAAAAA
				QBAAAFwAAAAAAAAAAiAAAAwBAAAAAAAABSAAAIwAAAAA
				AAAAECAAAJwAAAAAAAAAESAAAMAAAAAAAAAAEiAAALAA
				AAAAAAAAEyAAAFwAAAAAAAAAICAAAOwAAAAAAAAAMCAA
				ABgBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Photos</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Photos.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Photos</string>
				<key>file-mod-date</key>
				<integer>3870138363</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3870138363</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3515772529</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vawQCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMMAAAAAQEAAENhbGVuZGFy
				LmFwcAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAAEAABB
				yCAD0QAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAkGKT5wAAACQAAAABAQAA
				NkUwQTBGQUMtOTgxMC00QTIwLUIxRUQtM0EwNEZDOUI3
				MDAyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAA
				AAABAAAAAQEAAC8AAAAAAAAAAQUAAJwAAAD+////AQAA
				AAAAAAAMAAAABBAAAEgAAAAAAAAAEBAAAGwAAAAAAAAA
				QBAAAFwAAAAAAAAAAiAAAAwBAAAAAAAABSAAAIwAAAAA
				AAAAECAAAJwAAAAAAAAAESAAAMAAAAAAAAAAEiAAALAA
				AAAAAAAAEyAAAFwAAAAAAAAAICAAAOwAAAAAAAAAMCAA
				ABgBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iCal</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Calendar.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Calendar</string>
				<key>file-mod-date</key>
				<integer>3870654626</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3870654626</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3515772532</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vawQCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMJAAAAAQEAAE5vdGVzLmFw
				cAAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAAEAABB
				yBwTfYAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAkGKT5wAAACQAAAABAQAA
				NkUwQTBGQUMtOTgxMC00QTIwLUIxRUQtM0EwNEZDOUI3
				MDAyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAA
				AAABAAAAAQEAAC8AAAAAAAAAAQUAAJwAAAD+////AQAA
				AAAAAAAMAAAABBAAAEgAAAAAAAAAEBAAAGwAAAAAAAAA
				QBAAAFwAAAAAAAAAAiAAAAwBAAAAAAAABSAAAIwAAAAA
				AAAAECAAAJwAAAAAAAAAESAAAMAAAAAAAAAAEiAAALAA
				AAAAAAAAEyAAAFwAAAAAAAAAICAAAOwAAAAAAAAAMCAA
				ABgBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Notes</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Notes.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Notes</string>
				<key>file-mod-date</key>
				<integer>3870138363</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3870138363</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1007703700</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAU3RlYW0uYXBwAAAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAcNI6AgAAAAAIAAAABAMAAB9SDgAA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcerLucA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAJBik+cAAAAIAAAAAAQAAEHIIAPR
				AAAAJAAAAAEBAAA2RTBBMEZBQy05ODEwLTRBMjAtQjFF
				RC0zQTA0RkM5QjcwMDIYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.valvesoftware.steam</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Steam.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Steam</string>
				<key>file-mod-date</key>
				<integer>3855341262</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>110741013570128</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>66011617</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxAAAAABAQAATmV0ZWFzZU11c2ljLmFwcAgAAAABBgAA
				EAAAACQAAAAIAAAABAMAAEyB+AEAAAAACAAAAAQDAABU
				otYBAAAAAAgAAAABBgAATAAAAFwAAAAIAAAAAAQAAEHH
				/anzAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAA
				AAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
				bnRvc2ggSEQIAAAABAMAAACQYpPnAAAACAAAAAAEAABB
				yAT41AAAACQAAAABAQAANkUwQTBGQUMtOTgxMC00QTIw
				LUIxRUQtM0EwNEZDOUI3MDAyGAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAADwAAAAA
				AAAABRAAAGwAAAAAAAAAEBAAAIwAAAAAAAAAQBAAAHwA
				AAAAAAAAAiAAADwBAAAAAAAABSAAAKwAAAAAAAAAECAA
				ALwAAAAAAAAAESAAAPAAAAAAAAAAEiAAANAAAAAAAAAA
				EyAAAOAAAAAAAAAAICAAABwBAAAAAAAAMCAAAEgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.netease.163music</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/NeteaseMusic.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>NetEaseMusic</string>
				<key>file-mod-date</key>
				<integer>180787629952166</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3809209475850</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>66011616</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwoAAAABAQAAV2VDaGF0LmFwcAAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAcNI6AgAAAAAIAAAABAMAAALBOAIA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcgnQogk
				noQYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAJBik+cAAAAIAAAAAAQAAEHIIAPR
				AAAAJAAAAAEBAAA2RTBBMEZBQy05ODEwLTRBMjAtQjFF
				RC0zQTA0RkM5QjcwMDIYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.tencent.xinWeChat</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/WeChat.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>WeChat</string>
				<key>file-mod-date</key>
				<integer>71777070199015</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>110741013570128</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>66011615</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwsAAAABAQAARGlzY29yZC5hcHAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAA58jAgAAAAAIAAAABAMAADVMLwIA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcgipFJX
				xJsYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAJBik+cAAAAIAAAAAAQAAEHIHBN9
				gAAAJAAAAAEBAAA2RTBBMEZBQy05ODEwLTRBMjAtQjFF
				RC0zQTA0RkM5QjcwMDIYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.hnc.Discord</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Discord.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Discord</string>
				<key>file-mod-date</key>
				<integer>193006816379300</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>251530041442268</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1120326922</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwoAAAABAQAAT2xsYW1hLmFwcAAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAASBImAAAAAAAIAAAABAMAAFaIQgAA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcfoexiA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAJBik+cAAAAIAAAAAAQAAEHH0fL+
				gAAAJAAAAAEBAAA2RTBBMEZBQy05ODEwLTRBMjAtQjFF
				RC0zQTA0RkM5QjcwMDIYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.electron.ollama</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Ollama.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Ollama</string>
				<key>file-mod-date</key>
				<integer>3863375665</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>140165826179232</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>66011624</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFgB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxYAAAABAQAAVmlzdWFsIFN0dWRpbyBDb2RlLmFwcAAA
				CAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAmYbNAQAAAAAI
				AAAABAMAAIjbbQAAAAAACAAAAAEGAABUAAAAZAAAAAgA
				AAAABAAAQcfynlsAAAAYAAAAAQIAAAIAAAAAAAAADwAA
				AAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAA
				AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJBik+cAAAAI
				AAAAAAQAAEHH+8VkgAAAJAAAAAEBAAA2RTBBMEZBQy05
				ODEwLTRBMjAtQjFFRC0zQTA0RkM5QjcwMDIYAAAAAQIA
				AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
				LwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAARAAAAAAAAAAFEAAAdAAAAAAAAAAQEAAAlAAAAAAA
				AABAEAAAhAAAAAAAAAACIAAARAEAAAAAAAAFIAAAtAAA
				AAAAAAAQIAAAxAAAAAAAAAARIAAA+AAAAAAAAAASIAAA
				2AAAAAAAAAATIAAA6AAAAAAAAAAgIAAAJAEAAAAAAAAw
				IAAAUAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.microsoft.VSCode</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Visual%20Studio%20Code.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Visual Studio Code</string>
				<key>file-mod-date</key>
				<integer>3864704438</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>261202303523965</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>779568812</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwsAAAABAQAAQ2hhdEdQVC5hcHAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAcNI6AgAAAAAIAAAABAMAAE2dOgIA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcf2wecA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAJBik+cAAAAIAAAAAAQAAEHIIAPR
				AAAAJAAAAAEBAAA2RTBBMEZBQy05ODEwLTRBMjAtQjFF
				RC0zQTA0RkM5QjcwMDIYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.openai.codex</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/ChatGPT.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>ChatGPT</string>
				<key>file-mod-date</key>
				<integer>13515838889611</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>270565336672540</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>66011614</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFQB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxIAAAABAQAATWljcm9zb2Z0IEVkZ2UuYXBwAAAIAAAA
				AQYAABAAAAAkAAAACAAAAAQDAABw0joCAAAAAAgAAAAE
				AwAA+ZYGAAAAAAAIAAAAAQYAAFAAAABgAAAACAAAAAAE
				AABBx82s/YAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
				TWFjaW50b3NoIEhECAAAAAQDAAAAkGKT5wAAAAgAAAAA
				BAAAQcggA9EAAAAkAAAAAQEAADZFMEEwRkFDLTk4MTAt
				NEEyMC1CMUVELTNBMDRGQzlCNzAwMhgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABA
				AAAAAAAAAAUQAABwAAAAAAAAABAQAACQAAAAAAAAAEAQ
				AACAAAAAAAAAAAIgAABAAQAAAAAAAAUgAACwAAAAAAAA
				ABAgAADAAAAAAAAAABEgAAD0AAAAAAAAABIgAADUAAAA
				AAAAABMgAADkAAAAAAAAACAgAAAgAQAAAAAAADAgAABM
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.microsoft.edgemac</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Microsoft%20Edge.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Microsoft Edge</string>
				<key>file-mod-date</key>
				<integer>3859862267</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>110741013570128</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>883747848</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va9ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALwB
				AAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAABgAA
				AAEBAABtaWlra2EAAAwAAAABAQAAQXBwbGljYXRpb25z
				DQAAAAEBAABDcm9zc092ZXIuYXBwAAAAEAAAAAEGAAAQ
				AAAAIAAAADAAAABEAAAACAAAAAQDAAChRwAAAAAAAAgA
				AAAEAwAA28IEAAAAAAAIAAAABAMAADb/GAAAAAAACAAA
				AAQDAAALAtkBAAAAABAAAAABBgAAdAAAAIQAAACUAAAA
				pAAAAAgAAAAABAAAQcfo6YAAAAAYAAAAAQIAAAIAAAAA
				AAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAA
				AAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
				AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQYpPnAAAA
				CAAAAAAEAABBx/vFZIAAACQAAAABAQAANkUwQTBGQUMt
				OTgxMC00QTIwLUIxRUQtM0EwNEZDOUI3MDAyGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAA
				BBAAAFwAAAAAAAAABRAAALQAAAAAAAAAEBAAANwAAAAA
				AAAAQBAAAMwAAAAAAAAAAiAAAKgBAAAAAAAABSAAABgB
				AAAAAAAAECAAACgBAAAAAAAAESAAAFwBAAAAAAAAEiAA
				ADwBAAAAAAAAEyAAAEwBAAAAAAAAICAAAIgBAAAAAAAA
				MCAAALQBAAAAAAAAAcAAAPwAAAAAAAAAEcAAACAAAAAA
				AAAAEsAAAAwBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.codeweavers.CrossOver</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/miikka/Applications/CrossOver.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>CrossOver</string>
				<key>file-mod-date</key>
				<integer>3863432192</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>66300982063772</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1424992108</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cw0AAAABAQAATE0gU3R1ZGlvLmFwcAAAAAgAAAABBgAA
				EAAAACQAAAAIAAAABAMAAAOfIwIAAAAACAAAAAQDAADD
				fmkAAAAAAAgAAAABBgAATAAAAFwAAAAIAAAAAAQAAEHH
				64kVrtkOGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAA
				AAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
				bnRvc2ggSEQIAAAABAMAAACQYpPnAAAACAAAAAAEAABB
				yBwTfYAAACQAAAABAQAANkUwQTBGQUMtOTgxMC00QTIw
				LUIxRUQtM0EwNEZDOUI3MDAyGAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAADwAAAAA
				AAAABRAAAGwAAAAAAAAAEBAAAIwAAAAAAAAAQBAAAHwA
				AAAAAAAAAiAAADwBAAAAAAAABSAAAKwAAAAAAAAAECAA
				ALwAAAAAAAAAESAAAPAAAAAAAAAAEiAAANAAAAAAAAAA
				EyAAAOAAAAAAAAAAICAAABwBAAAAAAAAMCAAAEgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>ai.elementlabs.lmstudio</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/LM%20Studio.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>LM Studio</string>
				<key>file-mod-date</key>
				<integer>103022949337899</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>191477807792658</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1424992107</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEgB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwgAAAABAQAAYWlyaS5hcHAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAABqb04AAAAAAAgAAAAEAwAAR2ppAAAAAAAI
				AAAAAQYAAEQAAABUAAAACAAAAAAEAABBx9aNx4AAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
				CAAAAAQDAAAAkGKT5wAAAAgAAAAABAAAQcfpx8EAAAAk
				AAAAAQEAADZFMEEwRkFDLTk4MTAtNEEyMC1CMUVELTNB
				MDRGQzlCNzAwMhgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAAA0AAAAAAAAAAUQAABk
				AAAAAAAAABAQAACEAAAAAAAAAEAQAAB0AAAAAAAAAAIg
				AAA0AQAAAAAAAAUgAACkAAAAAAAAABAgAAC0AAAAAAAA
				ABEgAADoAAAAAAAAABIgAADIAAAAAAAAABMgAADYAAAA
				AAAAACAgAAAUAQAAAAAAADAgAABAAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>ai.moeru.airi</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/airi.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>AIRI</string>
				<key>file-mod-date</key>
				<integer>3861025935</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>268198802690671</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3515772542</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va6ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIwB
				AAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAABgAA
				AAEBAABtaWlra2EAAAkAAAABAQAARG93bmxvYWRzAAAA
				DAAAAAEGAAAQAAAAIAAAADAAAAAIAAAABAMAAKFHAAAA
				AAAACAAAAAQDAADbwgQAAAAAAAgAAAAEAwAADsMEAAAA
				AAAMAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQcea
				NF3EW5wYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUBAAAI
				AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
				SEQIAAAABAMAAACQYpPnAAAACAAAAAAEAABBx5ovOYAA
				ACQAAAABAQAANkUwQTBGQUMtOTgxMC00QTIwLUIxRUQt
				M0EwNEZDOUI3MDAyGAAAAAECAACBAAAAAQAAAO8TAAAB
				AAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwA
				AAD+////AQAAAAAAAAAQAAAABBAAAEQAAAAAAAAABRAA
				AIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwAAAAAAAAA
				AiAAAHgBAAAAAAAABSAAAOgAAAAAAAAAECAAAPgAAAAA
				AAAAESAAACwBAAAAAAAAEiAAAAwBAAAAAAAAEyAAABwB
				AAAAAAAAICAAAFgBAAAAAAAAMCAAAIQBAAAAAAAAAcAA
				AMwAAAAAAAAAEcAAACAAAAAAAAAAEsAAANwAAAAAAAAA
				ENAAAAQAAAAAAAAA
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/miikka/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>228066623759975</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>207498025380067</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>3</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>recent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>779568800</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFQB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxIAAAABAQAATWljcm9zb2Z0IFdvcmQuYXBwAAAIAAAA
				AQYAABAAAAAkAAAACAAAAAQDAAADnyMCAAAAAAgAAAAE
				AwAANVUdAgAAAAAIAAAAAQYAAFAAAABgAAAACAAAAAAE
				AABByBcJZ0JqEhgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
				TWFjaW50b3NoIEhECAAAAAQDAAAAkGKT5wAAAAgAAAAA
				BAAAQcgcE32AAAAkAAAAAQEAADZFMEEwRkFDLTk4MTAt
				NEEyMC1CMUVELTNBMDRGQzlCNzAwMhgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABA
				AAAAAAAAAAUQAABwAAAAAAAAABAQAACQAAAAAAAAAEAQ
				AACAAAAAAAAAAAIgAABAAQAAAAAAAAUgAACwAAAAAAAA
				ABAgAADAAAAAAAAAABEgAAD0AAAAAAAAABIgAADUAAAA
				AAAAABMgAADkAAAAAAAAACAgAAAgAQAAAAAAADAgAABM
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.microsoft.Word</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Microsoft%20Word.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Microsoft Word</string>
				<key>file-mod-date</key>
				<integer>32714340905841</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>152144497000976</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2222795162</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vawwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACgB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMUAAAAAQEAAEltYWdlIFBs
				YXlncm91bmQuYXBwDAAAAAEGAAAQAAAAIAAAADQAAAAI
				AAAAAAQAAEHIIAPRAAAAGAAAAAECAAACAAAAAAAAAA8A
				AAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
				AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQYpPnAAAA
				JAAAAAEBAAA2RTBBMEZBQy05ODEwLTRBMjAtQjFFRC0z
				QTA0RkM5QjcwMDIYAAAAAQIAAIEAAAABAAAA7xMAAAEA
				AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAnAAA
				AP7///8BAAAAAAAAAAwAAAAEEAAAUAAAAAAAAAAQEAAA
				dAAAAAAAAABAEAAAZAAAAAAAAAACIAAAFAEAAAAAAAAF
				IAAAlAAAAAAAAAAQIAAApAAAAAAAAAARIAAAyAAAAAAA
				AAASIAAAuAAAAAAAAAATIAAAZAAAAAAAAAAgIAAA9AAA
				AAAAAAAwIAAAIAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.GenerativePlaygroundApp</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Image%20Playground.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Image Playground</string>
				<key>file-mod-date</key>
				<integer>3870654626</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3870654626</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2222795163</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vawgCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMNAAAAAQEAAEFwcCBTdG9y
				ZS5hcHAAAAAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAA
				BAAAQcggA9EAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAA
				AAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEA
				AE1hY2ludG9zaCBIRAgAAAAEAwAAAJBik+cAAAAkAAAA
				AQEAADZFMEEwRkFDLTk4MTAtNEEyMC1CMUVELTNBMDRG
				QzlCNzAwMhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
				AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACcAAAA/v//
				/wEAAAAAAAAADAAAAAQQAABMAAAAAAAAABAQAABwAAAA
				AAAAAEAQAABgAAAAAAAAAAIgAAAQAQAAAAAAAAUgAACQ
				AAAAAAAAABAgAACgAAAAAAAAABEgAADEAAAAAAAAABIg
				AAC0AAAAAAAAABMgAABgAAAAAAAAACAgAADwAAAAAAAA
				ADAgAAAcAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.AppStore</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/App%20Store.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>App Store</string>
				<key>file-mod-date</key>
				<integer>3870654626</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3870654626</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>region</key>
	<string>CA</string>
	<key>showAppExposeGestureEnabled</key>
	<true/>
	<key>tilesize</key>
	<real>50</real>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-bl-corner</key>
	<integer>13</integer>
	<key>wvous-bl-modifier</key>
	<integer>0</integer>
	<key>wvous-br-corner</key>
	<integer>1</integer>
	<key>wvous-br-modifier</key>
	<integer>0</integer>
</dict>
</plist>
